text-classification.ppk
src/src/kernels_c.cpython-36m-darwin.so
src/src/kernels_c.cp35-win_amd64.pyd
src/build/temp.win-amd64-3.5/Release/kernels_c.cp35-win_amd64.exp
src/build/temp.macosx-10.6-intel-3.6/kernels_c.o
src/__pycache__/wk_ngk_Kernels.cpython-36.pyc
src/__pycache__/wk_ngk_Kernels.cpython-35.pyc
src/__pycache__/main.cpython-36.pyc
src/__pycache__/main.cpython-35.pyc
src/__pycache__/kernels.cpython-36.pyc
src/__pycache__/kernels.cpython-35.pyc
src/__pycache__/kernel_approx.cpython-35.pyc
src/__pycache__/dataSplit.cpython-36.pyc
src/__pycache__/dataSplit.cpython-35.pyc
src/__pycache__/__init__.cpython-35.pyc
src/__pycache__/Reuters.cpython-35.pyc
src.rar
public
private.ppk
__pycache__/SSK.cpython-35.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/text_classification.iml
.idea/modules.xml
.idea/misc.xml
